[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
arrow = "*"
requests = "*"
gunicorn = "*"
dj-database-url = "*"
"psycopg2" = "*"
whitenoise = "*"
env_tools="*"
redis="*"
pyyaml = "*"

[dev-packages]
vcrpy="*"

[requires]
python_version = "3.6"
